.Rproj.user
.Rhistory
analysis/*.csl
analysis/trialerror/*
analysis/*Hmisc*
analysis/*.Rmd
data/*
data-raw/*
figure/*
notrack/*
report/*
test/*
*manuscript*
*.pdf
*.odp
_book/*
_bookdown_files/*
*.html
s1.tex
01-complete.md
*.tex
*.log
table/*
UNAPdofile20Sept16.do
equation*
mix-marilly*
mixtools*
revcatr*
localg*
surveym*
test_r*
unap-marilly*
unap8*
*.txt
abstract*
